<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avisos - PAEP</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>

    <!-- Cabeçalho -->
    <header class="cabecalho-index">
        <div class="logo-menu-container">
            <a href="dashboard.html">
                <img src="../../static/imagens/Logo_Menu.png" alt="Logotipo do sistema PAEP" class="logo">
            </a>
        </div>
    
        <nav class="menu-navegacao">
            <ul>
                <li><a href="dashboard.html">Painel</a></li>
                <li><a href="boletim.html">Boletim</a></li>
                <li><a href="avisos.html">Avisos</a></li>
                <li><a href="calendario.html">Calendário</a></li>
                <li><a href="contato.html">Contatos</a></li>
            </ul>
        </nav>

        <a href="perfil.html" class="btn-login">Meu Perfil</a>
        
    </header>
    <main>
        <h1>Bem-vindo aos Avisos</h1>
        <p>Aqui será o conteúdo principal dos avisos.</p>
    </main>

</body>
</html>