<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PAEP</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <main class="container-login">
        <section class="login-imagem">
            <div class="imagem-placeholder-login">
                [ Imagem ilustrativa ]
            </div>
        </section>

        <section class="login-formulario-area">
            <div class="login-box">
                <img src="../../static/imagens/Logo_Login.png" alt="Logotipo do Sistema PAEP" class="logo-login">

                <form action="dashboard.html" method="GET" class="form-login">

                    <label for="usuario">Usuário</label>
                    <input type="text" id="usuario" name="usuario" placeholder="Digite seu usuário" required>

                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

                    <button type="submit" class="btn-acessar">Acessar</button>
                    
                    <a href="#" class="link-esqueceu-senha">Esqueceu a senha?</a>
                </form>
            </div>
        </section>

    </main>

</body>
</html>