/* TELA DE LOGIN */
.container-login {
    display: flex;
    height: 100vh;
    width: 100%;
}

.login-imagem {
    flex: 0 0 60%; 
}

.imagem-placeholder-login {
    height: 100%;
    overflow-y: hidden;
}

.imagem-placeholder-login img {
    position: relative;
    object-fit: cover;
    top: -35%;
}

.login-formulario-area {
    flex: 0 0 40%; 
    display: flex;
    padding-top: 4%;
    justify-content: center;
}

.login-box {
    width: 80%;
    max-width: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-login {
    height: 30vh;
}

.form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-login label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-login input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-acessar {
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.3s ease;
}

.btn-acessar:hover {
    background-color: #555;
}

.link-esqueceu-senha {
    font-size: 0.9rem;
    color: #666;
    text-decoration: none;
}

.link-esqueceu-senha:hover {
    text-decoration: underline;
}

/* Esqueceu a senha? */
.info-contato-oculta {
    display: none;
    margin-top: 15px;
    padding: 15px;
    background-color: #D5E6F0;
    border: 1px solid #104F62;
    border-radius: 5px;
    color: #2A3B45;
}

.info-contato-oculta p {
    margin-bottom: 8px;
}

.info-contato-oculta ul {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 768px) {
    .login-imagem {
        display: none;
    }

    .login-formulario-area {
        flex: 1;
        padding: 30px 20px;
    }

    .login-box {
        width: 100%;
        max-width: 100%;
    }

    .logo-login {
        height: 120px; 
        margin-bottom: 20px;
    }
}